@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --transition-bottom: border-bottom 1s;
    --transition-cadastro: padding-left .2s;
    --transition-submit: background-color .7s;
    --transition-cadastrar: color .7s;
    --color-blue: rgb(40, 96, 160);
    --color-green: #008000;
}

html {
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(120deg, rgb(40, 96, 255), rgb(103, 127, 155));

}

.container {
    background-color: rgb(255, 255, 255);
    width: 45rem;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);
    border-radius: .5em;
}

.bloco1 {
    display: flex;
    flex-direction: column;
    border: none;
}

.container-title {
    display: flex;
    align-items: center;
}

.container-title legend {
    padding: 1.2em .5em;
    font-size: 2.4em;
    color: var(--color-blue);
    font-weight: 300;
    flex-grow: 1;
}

.container-title__imagem {
    margin-right: 1.6em;

}

img {
    width: 80px;
}


.description {
    color: rgba(0, 0, 0, 0.781);
}

.cadastro {
    margin-bottom: 1.5rem;
    padding: 1rem 1rem 1rem 0;
    border: none;
    border-bottom: 1px solid rgba(3, 20, 70, 0.61);
    font-size: 1.5em;
    transition: var(--transition-cadastro);

}

.cadastro1 {
    transition: var(--transition-bottom), var(--transition-cadastro);
}

.cadastro:focus {
    outline: none;
    padding-left: 1rem;
}

.cadastro::placeholder {
    opacity: .3;
}

.cadastro1:valid {
    border-bottom: 2px solid var(--color-green);
}

.container-btn {
    display: flex;
    justify-content: space-between;
    padding: 2em 1em;
    align-items: center;
}

.container-btn-div {
    display: flex;
    align-items: center;
    gap: 2em;
}

.container-btn__submit {
    color: white;
    background-color: var(--color-blue);
    border: none;
    padding: 1em;
    border-radius: .3em;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: var(--transition-submit)
}

.container-btn__submit:hover {
    background-color: rgb(0, 80, 133);
}

.container-btn__cadastrar {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(57, 109, 177);
    transition: var(--transition-cadastrar)
}

.container-btn__cadastrar:hover {
    color: rgb(40, 77, 124);
}