body {
    display: flex;
    background-color: rgb(44, 44, 75);
}

label {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}

label span {
    /* background-color: rgb(255, 255, 255); */
    width: 20px;
    height: 20px;
    margin-left: 20px;
    border-top: 1px solid rgb(255, 208, 0);
    border-right: 1px solid rgb(255, 208, 0);
    border-bottom: 1px solid yellow;
    border-left: 1px solid yellow;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+label span {
    background-image: linear-gradient(45deg, rgb(255, 255, 0), rgb(255, 208, 0));
}

input[type="checkbox"]:checked+label span::after {
    content: url(imagens/icon.svg);
}